*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#picUpload {
    display:flex;
    flex-direction: column;
    justify-self: center;
}
canvas {
    position: absolute;
    top:0;
    left:0;
}